* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.app-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.canvas {
    min-height: 100vh;
    min-width: 65vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    overflow: auto;
}
.panel {
    min-height: 100vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid grey;
    padding-top: 2%;
    padding-bottom: 2%;
    
}
.canvas-container {
    min-width: 50rem;
    height: 35rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5%;   
}
.label {
    min-width: 35rem;
    height: 15rem;
    border-radius: 1rem;
    display: inline-flex;
}
.label-container {
    position: relative; 
    width: 35rem;
    height: 16rem;
    display: flex;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    background-image: url('bg.avif');
    z-index: 0;
}
#details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
#image-container {
    min-width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#canvas {
    position: absolute;
    top: 4rem;
    left: 4rem;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(242, 135, 219, 0.641) 50%, rgba(20, 158, 186, 0.278) 50%);
    box-shadow: 0 0 20px 10px rgba(104, 106, 107, 0.5) ;
    z-index: 1;
    
}
#canvas-edit {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url(sample_photo.png);
    background-size: cover;
    background-position: center;
    border: 1px solid grey;
    box-shadow: 0 0 20px 10px rgba(135, 214, 230, 0.5);
    z-index: 2;
}
#info-container {
    width: 67%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
    justify-content:space-evenly;

}
#displayText {
    display: flex;
    /* position: absolute;
    top: 3rem; */
    color: blue;
    font-weight: bolder;
    font-size: 1.5rem;
    z-index: 3;
    text-align: left;
    font-size: 30px;
    margin-top: 0.25rem;
    /* background-color: aliceblue; */
}
#displayTable {
    display: flex;
    margin-bottom: 0.25rem;
    /* background-color: #fff; */
}
.label-det {
    font-weight: bolder;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 3;
}
.label-det-1 {
    font-weight: bolder;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 3;
}

.panel-container {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 7%;
    padding-bottom: 7%;
    overflow: auto;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.45rem;
    justify-content: space-evenly;
    border: 1px dotted grey;
    border-radius: 1rem;
}
.header-row {
    font-weight: bold;
    text-align: center;
}
.header-row {
    display: flex;
    padding: 0.15rem;
    text-align: center;
}
.content-row {
    display: flex;
    padding: 0.05rem;
    text-align: center;
}
.input-row {
    display: flex;
    padding: 0.05rem;
    text-align: center;
    justify-content: space-evenly;
}
.input-row-buttons-move {
    display: flex;
    padding: 0.05rem;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 15%;
    padding-right: 15%;
}
.input-row-buttons-arrow {
    display: flex;
    padding: 0.05rem;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 25%;
    padding-right: 25%;
}
.input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-range {
    width: 60%;
}
.input-button-move {
    height: 2.5rem;
    width: 2.5rem;
    padding: 0.25rem;
    font-size: x-large;
    text-align: center;
}
.input-button-arrow {
    height: 3rem;
    width: 3rem;
    padding: 0.25rem;
    font-size: x-large; 
} 
.input-download {
    height: 100%;
    width: 70%;
    padding: 0.15rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: rgba(151, 151, 239, 0.41);
}
.input-text {
    width: 70%;
    height: 100%;
}
